body {
  padding-top: 50px;
}

.prev {
    float: left;

}

.prev a, .next a {
    color: #fff;
}

.next {
    float: right;
}

.group:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.sec-table a {
    color: #fff;
}

article {
    color: #000;
}

nav.sections {
    height: 30px;
}
