.content {
    background-color: #F2E7C5;
}

.profile, .books, .clubs {
    background-color: #fff;
    margin-bottom: 10px;
}

.profile img {
    width: 30%;
    float: left;
}

.container img {
    width: 20%;
    float: left;
}
