@media only screen and (max-width: 760px) {
	#outerWrapper {
		width: 88% !important;
		margin: 0 !important;
	}
	#main-header {
		visibility: hidden;
		display: none !important;
	}
	section {
		font-size: .5em;
		padding: 0 !important;
		margin: 0 !important;
	}
	[class*="-section"] {
		width: 87% !important;
		float: none !important;
	}
	.content-section {
		padding: 1em 2.5em;
	}
	.info-section, .img-section, .src-section, .middle {
		margin: 2em 0;
	}
	.my-table {
		font-size: .4em !important;
	}
	.my-table tbody tr td > input {
		width: 80%;
	}

	#semanticCanvas {
		display: none;
		visibility: hidden;
	}

	.src-section, pre {
		font-size: 1.5em;
	}
	#sidebar {
		visibility: hidden;
		display: none !important;
	}

	#right-sidebar {
		display: block;
		width: 10% !important;
		top: 5% !important;
		left: 89% !important;
	}
	footer {
		font-size: .4em;
		background-position: right 80% !important;
		background-size: 30% !important;
		width: 95% !important;
		margin: 0 !important;
	}

	#right-sidebar ul li {
		margin-bottom: 0 !important;
	}

	.nav-help {
		visibility: hidden;
		display: none !important;
	}

	#right-sidebar ul li > a img, #right-sidebar ul li > a:link img {
		width: 20px !important;
	}
	.active img {

		width: 40px !important;
	}
	.pull-left, .pull-right {
		float: none !important;
	}

}
@media only screen and (min-width: 760px) and (max-width: 1280px) {
	#sidebar {
		font-size: .6em;
	}
	.info-section {
		font-size: .8em !important;
		width: 40%;
	}
	.src-section {
		width: 97.2% !important;
	}

	.src-section.middle {
		width: 47% !important;
	}
	.my-table tbody tr td > input {
		width: 80%;
	}
	#semanticCanvas {
		margin: auto -80px;
		
		
		-webkit-transform: scale(0.5);
		-moz-transform: scale(0.5);
		-ms-transform: scale(0.5);
		-o-transform: scale(0.5);
		transform: scale(0.5);
	}

	.middle {
		width: 38% !important;
	}

	footer {
		font-size: .8em;
		background-size: 40% !important;
	}

}
@media only screen and (min-width: 1280px) {
	.middle {
		width: 38% !important;
	}
	.src-section.middle {
		width: 48.5% !important;
	}

	#sidebar {
		font-size: .6em;
	}
	#semanticCanvas {
		margin: .7em;
	}

}