/* Main style */
p {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: none;
}

#header .actions {
    float: right;
    padding: 1%;
    font-size: 0.75em;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-decoration: none;
    color: #000;
    text-align: center;
    padding: 0.5em;
}

.navbar li a:hover {
    text-decoration: underline;
}

#menu {
    background-color: #A82C3D;
    color: #fff;
}

#menu a {
    display: block;
    color: #fff;
    padding: 0.75em;
    font-size: 0.75em;
}

#menu li:hover {
    background-color: #592E27;
}

.container {
    margin-top: 1%;
}

.container header {
    background-color: #592E27;
    color: #fff;
    padding: 1%;
}

.content {
    width: 70%;
    float: left;
    background-color: #fff;
}

.sidebar {
    width: 28%;
    margin-left: 2%;
    float:right;
    background-color: #fff;
}

.container img {
    width: 30%;
    float: left;
    margin-right: 2%;
}

.updates p {
    width: 74%;
}

.content img {
    width: 20%;
}

.sidebar img {
    margin-right: 5%
}

.reading p, .recommendation p {
    font-size: 0.75em;
    padding: 10px;
}

.updates p {
    padding: 2%;
    float: left;
}

.updates li, .current-book, .recommendation {
    padding: 10px;
}

@media (max-width: 768px) {
    header {
        font-size: 0.8em;
    }

    .updates p {
        font-size: 0.7em;
    }

    .reading p, .recommendation p {
        font-size: 0.5em;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.5em;
    }

    #title, h1 {
        font-size: 12px;
    }

    #footer, #menu {
        font-size: 10px;
    }

    .container {
        font-size: 10px;
    }

    .container header {
        font-size: 7px;
    }

    .sidebar p {
        font-size: 6px;
    }

    .sidebar img {
        margin-right: 5%
    }
    
    .sidebar p {
        float: left;
    }
}
