.main-content {
    padding-top: 30px;
}

.main-content ul, .main-content ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.updates, .reading, .recommendations {
    background-color: #fff;
}

.main-content img {
    width: 100%;
}

.main-content h2 {
    background-color: #592E27;
    color: #fff;
    padding: 0.25em;
    font-size: 25px;
}

.main-content p {
    font-size: 20px;
    padding: 10px 0;
}

.reading p, .recommendations p {
    font-size: 16px;
    margin-left: -15px;
}
