/*@import url(http://fonts.googleapis.com/css?family=Andika);*/
html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.section-container {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
}

.no-visible {
    display: none;
    visibility: hidden;
}

.info {
    top:0;
    bottom:0;
    left: 0;
    position: absolute;
    width: 40%;
    padding: 1% 2% 2%;
}

.example {
    width: 58%;
    padding: 1% 0 0;
}

.sec-table tbody td {
    text-decoration: none !important;
    padding: 2em;
    background: #207CCA;
    color: #fff !important;
    text-align: center;
}

.sec-table tbody td:hover {

    background: #1E5799;
}

a.table-link:hover, {
    text-decoration: none !important;
    color: #000;
    text-align: center;
}

.header {
    color: #fff;
}

.active {
    display: block !important;
    visibility: visible !important;
    opacity: 1;
    -webkit-animation: myAnimation 1s 1; /* Chrome, Safari 5+ */
    -moz-animation: myAnimation 1s 1; /* Firefox 5-15 */
    -o-animation: myAnimation 1s 1; /* Opera 12.00 */
    animation: myAnimation 1s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

#video-demo video {
    width: auto;
    height: auto;
}

#audio-player, #playlist {
    background: #666;
    width: 400px;
    padding: 20px;
}

#audio-player {
    box-sizing: content-box;
}

#playlist{
    list-style: none;
}

#playlist .active-track a{
    color: #5DB0E6;
    text-decoration: none;
}

#playlist .no-visible {
    display: none;
    visibility: hidden;
}

#playlist li a{
    color:#eeeedd;
    background:#333;
    padding:5px;
    display:inline-block;
    text-decoration: underline;
}

#playlist li a:hover {
    text-decoration:none;
}

#google_canvas {
    position: absolute;
    background: transparent;
    height: 600px;
    width: 600px;
}

.sectionB {
    width: 415px;
    height: 400px;
    background: red;
    margin: 20px auto;
}

.sectionA, .sectionC {
    width: 415px;
    height: 300px;
    background: gray;
    margin: 20px auto;
}

#box, #anibox {
    width: 200px;
    height: 200px;
    background: blue;
    display: inline-block;
    margin-right: 10px;
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0);
    transition: opacity 3s, transform 3s, filter 3s;
    -webkit-transition: opacity 3s, -webkit-transform 3s, -webkit-filter 3s;
}

#anibox:hover {
    opacity: 0.2;
    filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    transform: rotate(45deg) scale(2) translateY(150px);
    -webkit-transform: rotate(45deg) scale(2) translateY(150px);
    -ms-transform: rotate(45deg) scale(2) translateY(150px);
}

.animation {
    background-color: white;
}

.cloud {
    position: absolute;
    opacity: 0.2;
    float:left;
}

.nube-1 {
    -webkit-animation: nube-1 80s infinite;
    animation: nube-1 80s infinite;
}

.nube-2 {
    top: 65px;
    -webkit-animation: nube-2 120s infinite;
    animation: nube-2 120s infinite;
}

.nube-3 {
    top: 35px;
    -webkit-animation: nube-3 100s infinite;
    animation: nube-3 100s infinite;
}

.nube-4 {
    -webkit-animation: nube-4 200s infinite;
    animation: nube-4 200s infinite;
}

@-webkit-keyframes nube-1 {
    0%   { opacity: 0.0; -webkit-transform: translate(20%, 0);}
    100% { opacity: 1.0; -webkit-transform: translate(-100%, 0); }
}

@-moz-keyframes nube-1 {
    0%   { opacity: 0.0; transform: translate(20%, 0);}
    100% { opacity: 1.0; transform: translate(-100%, 0); }
}

@-webkit-keyframes nube-2 {
    0%   { opacity: 0.3; -webkit-transform: translate(90%, 0);}
    50%   { opacity: 0.7; -webkit-transform: translate(10%, 0);}
    100% { opacity: 1.0; -webkit-transform: translate(-100%, 0); }
}

@-moz-keyframes nube-2 {
    0%   { opacity: 0.3; transform: translate(90%, 0);}
    50%   { opacity: 0.7; transform: translate(10%, 0);}
    100% { opacity: 1.0; transform: translate(-100%, 0); }
}

@-webkit-keyframes nube-3 {
    0%   { opacity: 0.5; -webkit-transform: translate(40%, 0);}
    100% { opacity: 1.0; -webkit-transform: translate(-100%, 0); }
}

@-moz-keyframes nube-3 {
    0%   { opacity: 0.5; transform: translate(40%, 0);}
    100% { opacity: 1.0; transform: translate(-100%, 0); }
}

@-webkit-keyframes nube-4 {
    0%   { opacity: 0.3; -webkit-transform: translate(10%, 0);}
    50%  { opacity: 0.7; -webkit-transform: translate(-60%, 0);}
    100% { opacity: 1.0; -webkit-transform: translate(-100%, 0); }
}

@-moz-keyframes nube-4 {
    0%   { opacity: 0.3; transform: translate(10%, 0);}
    50%  { opacity: 0.7; transform: translate(-60%, 0);}
    100% { opacity: 1.0; transform: translate(-100%, 0); }
}

@-o-keyframes myAnimation {
    0%   { opacity: 0.0; -o-transform: translate(20%, 0);}
    100% { opacity: 1.0; -o-transform: translate(0, 0);}
}
@keyframes myAnimation {
    0%   { opacity: 0.0; transform: translate(20%, 0);}
    100% { opacity: 1.0; transform: translate(0, 0);}
}
