#header {
}
#title {
}
#menu {
}
#rightColumn {
    width: 21%;
    float: right;
    padding: 1%;
    max-height: 99%;
    margin-bottom: 0.5em;
}
#leftColumn {
    width: 21%;
    float: left;
    padding: 1%;
    max-height: 99%;
    margin-bottom: 0.5em;
}
#content {
    margin-left: 24%;
    width: auto;
    margin-right: 24%;
}
#dojo-slideshow {
    height: auto;
    width: 100%;
    margin: 0;
    padding-bottom: 56%;
}
#slideshow-desc {
    width: 100%;
    margin-top: 0;
    bottom: 0;
}

#footer {
    clear: both;
}

@media (max-width: 1280px) {
    #leftColumn, #rightColumn, #content {
        font-size: 14px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    #leftColumn, #rightColumn, #content {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    #leftColumn, #rightColumn, #content {
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    #leftColumn, #rightColumn, #content {
        font-size: 6px;
    }
}

@media (max-width: 568px) and (orientation: landscape) {
    #leftColumn, #rightColumn, #content {
        font-size: 6px;
    }
}
