#header {
}
#title {
}
#menu {
}
#rightColumn {
    width: 22%;
    float:left;
    padding: 1%;
}
#leftColumn {
    width: 20%;
    float: right;
    padding: 1%;
}
#content {
    width: 50%;
    margin-left: 25%;
    padding: 1%;
}
#dojo-slideshow {
    height: auto;
    width: 100%;
    margin: 0;
    padding-bottom: 56%;
}
#slideshow-desc {
    width: 100%;
    margin-top: 0;
    bottom: 0;
}

#footer {
    clear: both;
}
