#header {
}
#title {
}
#menu {
}
#rightColumn {
    visibility: hidden;
    display: none;
}
#leftColumn {
    visibility: hidden;
    display: none;
}
#content {
    width: 100%;
    padding: 0;
}
#dojo-slideshow {
    padding-bottom: 50%;
}
#slideshow-desc {
    width: 100%;
    margin-top: 57%;
}
