#header {
    padding: 0px 0px 4%  0px;
    background-color: #C3CCC4;
    border: none;
}
#title {
    padding-top: 1em;
    padding-bottom: 0.5em;
    background-color: #fff;
    color: #000;
}
#menu {
    background-color: #C3CCC4;
    padding: 1% 0;
}

#menu a {
    color: #000;
}
#rightColumn {
    visibility: hidden;
    display: none;
}
#leftColumn {
    visibility: hidden;
    display: none;
}
#content {
    width: 100%;
    padding: 0;
}
#dojo-slideshow {
    height: auto;
    padding-bottom: 39%;
}
#slideshow-desc {
    width: 100%;
    margin-top: 0;
    bottom: 0;
}

@media (max-width: 568px) and (orientation: landscape) {
    #dojo-slideshow {
        padding-bottom: 34%;
    }
}
