body {
    background-color: #C3CCC4;
    font-size: 17px;
}
#outerWrapper {
    /*height: 100vh;*/
}
#header {
    background-color: #8A1510;
    border-bottom: 3px solid black;
    padding: 2% 0;
}
#title {
    font: bold normal 2em serif;
    color: #fff;
    padding-bottom: 1em;
}
#rightColumn, #leftColumn, #content {
    background-color: #fff;
}
#rightColumn, #leftColumn, #content, #footer {
}
#content h1 {
    padding-top: 0.5em;
}
.clearFloat {
    clear: both;
    visibility: hidden;
    display: none;
}
#footer {
    border-top: 3px solid black;
    background-color: #8A1510;
    padding: 2% 0;
}
#credits {
    float: left;
    width: 20%;
    color: #fff;
}
#footer-menu {
    width: 80%;
    text-align: right;
    float: right;
}
h1 {
    font: bold normal 2em serif;
}
h2 {
    font: bold normal 1.5em serif;
}
ul, ol, li {
    list-style: none;
    text-align: left;
}

/* Add other properties for border-radius */
.btn, .btn:link {
    font: bold normal 1em san-serif;
    padding: 0.2em 0.8em;
    color: #fff;
}
.btn:visited {
}
.btn:hover {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #ddd;
}
.btn:focus {
}
.btn:active {
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}

/* Sets the style for links. */
a, a:link {
    font: bold normal 1em san-serif;
    color: #8A1510;
    position: relative;
    transition: left 250ms ease 0;
    left: 0;
}
/* Sets the style for visited links. */
a:visited {
    text-decoration: underline;
}
/* Sets the style for links on mouseover. */
a:hover {
    text-decoration: underline;
    color: #E3231A;
    left: 1em;
}
/* Sets the style for a link that has focus. */
a:focus {
}
/* Sets the style for a link that is being activated/clicked. */
a:active {
    color: #E3231A;
}

@media (max-width: 768px) {
    body {
        font-size: 1em;
    }

    #title, h1 {
        font-size: 22px;
    }

    #footer, #menu {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.5em;
    }

    #title, h1 {
        font-size: 14px;
    }

    #footer, #menu {
        font-size: 5px;
    }
}
