body {
    margin: 0;
    padding: 0;
}

.outer {
    height: 100vh;
}

.header {
    height: 10%;
    background-color: red;
}

.content {
    height: 80%;
    background-color: green;
}

.footer {
    height: 10%;
    background-color: blue;
}
